In [1]:
a=10;
b=20;
c=a+b;
print(c);

30

In [2]:
def test():
    a=10;
    b=2;
    c=a+b;
    print(c);

In [3]:
test(10,2);

TypeError: test() takes 0 positional arguments but 2 were given

In [4]:
test();

12

In [5]:
print(a)

10

In [6]:
print(a)
print(b)

10
20

In [7]:
print(a,end='')
print(b)

1020

/t --> tab or 4 white space character. 
/b --> Backspace character
#sep -

#SEP

In [8]:
it is an argument used in print function called Seperator which has value of one white space.

SyntaxError: invalid syntax (3506180486.py, line 1)

In [9]:
print(a,b);

10 20

In [10]:
print(a,b,sep="")

1020

In [11]:
print(a,b,sep="^");

10^20

# Print Function has two arguments end which has value of newline(\n) and another argument called SEP which has value one white space.

#Input Function
#Takes Input from user

In [12]:
input("Enter ur name");

Enter ur name Adarsha

Day2 Python it is about Data types

Datatype means the type of data or kind of type the variable it holds

In [2]:
name="Adarsha"
age=26

#Type is a built in function which is used to know the type of data

In [4]:
type(name)

str

In [5]:
type(age)

int

In [6]:
age="Twenty Six"

In [7]:
type(age)

str

In [8]:
address=ninety

NameError: name 'ninety' is not defined

In [9]:
age

'Twenty Six'

In [10]:
y="let's Learn \"Python\""

In [11]:
y

'let\'s Learn "Python"'

In [ ]:
y="Let\'s learn \"Python\""

In [ ]:
y

In [ ]:
y

In [ ]:
y="""Let's Learn "PYTHON" """

In [ ]:
y

In [ ]:
z="""Let's learn "Python" """

In [ ]:
z

In [ ]:
z

In [ ]:
wq = 'let\'s learn "python" '

In [ ]:
wq

In [ ]:
print(wq)

In [12]:
my_string=""" my 
            name is
                adarsha"""

In [13]:
print(my_string)

 my
            name is
                adarsha

In [14]:
wq

NameError: name 'wq' is not defined

In [15]:
ex='let\'s learn "python"'

In [16]:
ex

'let\'s learn "python"'

In [17]:
print(ex)

let's learn "python"

In [18]:
a=100;

#Data conversions

In [19]:
a=100;

In [20]:
a='10'
b='20'

In [21]:
a+b

'1020'

In [23]:
c=int(a)
d=int(b)

In [26]:
e=c+d

In [27]:
print(e)

30

In [28]:
type(e)

int

In [29]:
#take two input from user and subtract it

In [30]:
num=input("Enter a number1")

Enter a number1 43

num2=input("Enter a number 2")

In [32]:
type(num)

str

In [33]:
num_str = int(num)
num2_str = int(num2)

In [34]:
result = num_str-num2_str

In [35]:
print(result)

13

In [36]:
type(result)

int

#Learning about STRING Datatype

In [1]:
#Python uses index in strings which means

In [2]:
a=adarsha

NameError: name 'adarsha' is not defined

In [3]:
name="Adarsha"

In [4]:
name[0]

'A'

In [5]:
#In Indexing there are two types of indexing Forward Indexing and backward Indexing Above is the example for Forward Indexing.

In [6]:
name[-1]

'a'

In [7]:
name[6]

'a'

In [8]:
#To access last letter 'a' in forward Indexing we can access in name[6] where as in Backward Indexing it cab be accessed like name[-1]

In [9]:
len(name)

7

In [10]:
len(name)-1

6

In [11]:
#len is a builtin function to find the length of the string.

In [12]:
#concatenation

In [13]:
name = "Adarsha"
age = 26

In [15]:
sentence = "My name is "+ name + " and my age is "+ age "

SyntaxError: unterminated string literal (detected at line 1) (1927495577.py, line 1)

In [16]:
a="aashish"
len(a)-1

6

In [17]:
a[2:5]

'shi'

In [19]:
a[4:9]

'ish'

In [20]:
a[2:2]

''

In [21]:
a[2:-3]

'sh'

In [22]:
a[7:10]

''

In [23]:
a[:5]

'aashi'

In [24]:
a[:]

'aashish'

In [25]:
a[]

SyntaxError: invalid syntax (1145722274.py, line 1)

In [26]:
#step is a another argument in SLICE which steps by the number mentioned

In [27]:
a[1:3:2]

'a'

In [28]:
print(a)

aashish

In [29]:
#how to reverse the string

In [30]:
print(a[::-1])

hsihsaa

In [31]:
a="we are here for learning data science"
print(a[18::-1])

ael rof ereh era ew

In [32]:
a[18]

'a'

In [33]:
a[18:]

'arning data science'

In [34]:
#WAP to accept two num from user and display sum

In [39]:
num1= int(input("Enter thee first Number"))
num2= int(input("Enter the Second Number"))
display = num1+num2
print("the sum of the two numbers is"+str(display)) #display variable has been converted to string because concatenation happens only betwen strings

Enter thee first Number 12
Enter the Second Number 8

the sum of the two numbers is20

#Now it is about OPERATORS

In [40]:
ord("a")

97

In [41]:
#ord is a function to know the UNICODE of the value.

In [42]:
print(-1>5>4)

False

In [43]:
#The traversing happens from right to left

In [44]:
a=10

In [45]:
print(++++a)

10

In [46]:
print(a++++)

SyntaxError: invalid syntax (2230067162.py, line 1)

In [47]:
a+++

SyntaxError: invalid syntax (3412213232.py, line 1)

In [48]:
print(a+1)

11

In [49]:
a+=1

In [50]:
a

11

In [51]:
print(a+=1)

SyntaxError: invalid syntax (1084821174.py, line 1)

In [52]:
x,y=5,4
print(x==y)

False

In [53]:
# WAP Ask the user to enter his/her name and enter age and display the message saying which year the person becomes 100 years

In [58]:
name=input("Enter your name")
age = int(input("Enter your age"))
hun = 100-age;
year = 2022 + hun
print("Hi "+ name+ " your age is " + str(age)+ " and it takes "+ str(year) + " to make 100 ALL D best MAN")

Enter your name adu
Enter your age 55

Hi adu your age is 55 and it takes 2067 to make 100 ALL D best MAN

In [61]:
First_name = input("Enter your First Name")
last_name = input("Enter your last name")
name = last_name+ " " + First_name
name1 = First_name + ' ' + last_name

print(name1[::-1])

Enter your First Name ADU
Enter your last name V

V UDA

#Conditional Statements

In [1]:
#Format Specifiers

In [4]:
a=10;
print("The Value of a is %d"%(a));

The Value of a is 10

In [5]:
#For integers %d, string it is %s, for Float it is %f

In [6]:
#With Format funtion

In [7]:
print("The value of a is {}".format(a))

The value of a is 10

In [8]:
name = "Adarsha"
age = 26
print("Name is {} and age is {}".format(name,age))

Name is Adarsha and age is 26

In [9]:
#By default format takes arguments as 0 for 1st arggument and 1 for 2nd argument
print("Name is {0} and age is {1}".format(age, name))

Name is 26 and age is Adarsha

In [10]:
#Here we can assign a variable for arguments like below.
print("Name is {name} and age is {age}".format(name=name, age=age))

Name is Adarsha and age is 26

In [11]:
#Decision statements

In [12]:
value = 40
if (value >60):
    print ("FIRST CLASS")
if(value >85):
    print("DISTINCTION")

In [18]:
#WAP to take input from user and check whether the number is even or odd
number = int(input("Enter any integer"))
if(number%2 ==0):
    print("The number is even")
else:
    print("the number is odd")

Enter any integer 5

the number is odd

In [20]:
#WAP to take an input from user and check whether the entered character is in uppercase or [lowercase needs to be done]

In [24]:
#WAP to take 3 numbers from user check which is greater 
num1 = int(input("Enter 1 number"))
num2 = int(input("Enter 2nd Number"))
num3 = int(input("Enter 3rd Number"))
if (num1 > num2):
    if(num1>num3):
        print("{0} is greatest".format(num1))
elif(num2>num3):
    print("{0} is greatest".format(num2))
else:
    print("{0} is greatest".format(num3))

Enter 1 number 21
Enter 2nd Number 99
Enter 3rd Number 21

99 is greatest

#while loop

In [31]:
num=1
while (num<=10):
    print(num)
    num+=1

1
2
3
4
5
6
7
8
9
10

In [37]:
string = input("Enter any string")
i=0
while i<=len(string)-1:
    if string[i] not in ["a", "e", "i", "o", "u"]:
        print(string[i])
    i+=1
else:
    print("I am in while else block")

Enter any string sharada

s
h
r
d
I am in while else block

In [1]:
#Split Method

In [2]:
text = "I am Adarsha"
text.split()

['I', 'am', 'Adarsha']

In [3]:
#Split takes TWO arguments split(separator, maxlimit)

In [4]:
word1,word2,word3 = text.split(); #Output of Split is LIST

In [5]:
print("{0} {1} {2}".format(word1,word2, word3))

I am Adarsha

In [9]:
a,b=2,3

In [10]:
print(a, b)

2 3

In [15]:
integer1 = input("Enter First integer")
a,b = integer1.split()
print(a, b, "sum is ", int(a)+int(b))
#WAP to accept input from user and write sum using split

Enter First integer 12 3

12 3 sum is  15

In [21]:
s1 = "1 2 3 4 5"
print(s1.split(' ', 2))

['1', '2', '3 4 5']

In [22]:
i=0
while(i<10):
    if(i % 2 != 0):
        print(i)
    i=i+1

1
3
5
7
9

In [23]:
#Break will terminate the loop 
#Continue will skip the current iteration
num=0
while(num < 10):
    num = num+1
    if(num % 2 == 0):
        continue
    print(num)

1
3
5
7
9

In [27]:
#Question asked in class
i=0
while i < 4:
    i=i+1
    if(i % 2 != 0):
        pass
        print("hi", end=" ")
    else:
        print(i,end = " ")

2 4

In [1]:
x='abcdef'
x[1]

'b'

In [3]:
x[::]

'abcdef'

In [ ]:
i=0
while i<10:
    print(i)
    if(i ==5):
        continue
    i = i+1